.form-element {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-element + .form-element {
  margin-bottom: 30px;
}

.form-element__input {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 6px 12px;
  outline:none;
}

.form-element__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.form-element__input_type_error {
  border-bottom-width: 3px;
  border-bottom-color: red;
}

.form-element__label {
  max-width: 150px;
  width: 100%;
  flex-shrink: 0;
  font-size: 20px;
}

.form-element__span {
  display: none;
  width: 130%;
  bottom: -20px;
  position: absolute;
  font-size: 14px;
  color: rgb(241, 188, 114);
}

.form-element__span_visible {
  display: block;
}