:root {
    --shadow: 0 0 4px hsl(225deg 9% 91% / 60%), 0 4px 16px hsl(225deg 9% 91% / 60%);
  }

.main {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    height: 540px;
    margin: 10px auto;
}

.products {
    width: 80%;
    height: 100%;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.products__header {
    width: 100%;
    height: 15%;
    border-radius: 16px;
    box-shadow: var(--shadow);
    font-size: 36px;
}

.products__field {
    width: 100%;
    height: 85%;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.products__item {
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.item__number {
    width: 10%;
    height: 100%;
}

.item__photo {
    width: 15%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.item__info {
    width: 45%;
    height: 100%;
}

.item__price {
    width: 10%;
    height: 100%;
}

.item__amount {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.item__amount-number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30%;
}

.item__amount-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
}

.item__amount-plus {
    width: 20%;
    height: 60%;
    border-radius: 50%;
    border: black 1px solid;
    background-color: white;
    cursor: pointer;
    background-image: url("./../images/icons/plus-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.item__amount-minus {
    width: 20%;
    height: 60%;
    border-radius: 50%;
    border: black 1px solid;
    background-color: white;
    cursor: pointer;
    background-image: url("./../images/icons/minus-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.summary {
    width: 20%;
    height: 100%;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.summary__header {
    width: 100%;
    height: 15%;
    border-radius: 16px;
    box-shadow: var(--shadow);
    font-size: 36px;
}

.summary__field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 85%;
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.summary__products {
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 24px;
}

.summary__sum {
    text-align: center;
    width: 100%;
    height: 20%;
    font-size: 24px;
}

.input__promo {
    width: 80%;
    height: 10%;
}

.input__promo::placeholder {
    text-align: center;
}

.buy__button {
    width: 70%;
    height: 15%;
    color: white;
    background-color: #2CB708;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buy__button:hover {
    background-color: #28970C;
}