
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.main {
    max-width: var(--max-width);
    height: 540px;
    border: black solid 1px;
    margin: 10px auto;
}

.goods__way {
    width: 100%;
    height: 10%;
    border: black solid 1px;
}

.goods__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    border: black solid 1px;
}

.goods__name {
    width: 100%;
    height: 14%;
    border: black solid 1px;
}

.goods__info {
    display: flex;
    width: 100%;
    height: 86%;
    border: black solid 1px;
}

.goods__photo-block {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    border: black solid 1px;
}

.goods__photo-main {
    width: 100%;
    height: 80%;
    border: black solid 1px;
    background-image: initial;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.goods__photo-list {
    width: 100%;
    height: 20%;
    border: black solid 1px;
}

.goods__description-block {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    border: black solid 1px;
}

.char__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 16.66%;
    border: black solid 1px;
}

.char__field-name {
    width: inherit;
    height: 30%;
}

.char__field-content {
    width: inherit;
    height: 70%;
}

.goods__purchase-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
    border: black solid 1px;
}

.goods__price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    border: black solid 1px;
    text-align: center;
}

.chart__button {
    width: 70%;
    height: 15%;
}

.buy__button {
    width: 70%;
    height: 15%;
}

.footer {
    width: 1220px;
    height: 80px;
    border: black solid 1px;
    bottom: 0px;
}