:root {
  --max-width: 1320px;
}

.home__diskountBanner {
  display: block;
  margin: 20px auto;
  max-width: var(--max-width);
  width: 100%;
}

.home__main-content {
  display: flex;
  margin: 20px auto;
  max-width: var(--max-width);
  width: 100%;
}

.home__sort-section {
  max-width: 230px;
  box-shadow: var(--shadow);
  padding: 5px;
  margin-bottom: 10px;
}


