:root {
  --shadow: 0 0 4px hsl(225deg 9% 91% / 60%), 0 4px 16px hsl(225deg 9% 91% / 60%);
}

.accordion {
  max-width: 400px;
  flex: 1 0 auto;
  flex-basis: 312px;
  min-width: 270px;
  margin: 0 20px 0 0;
}

.accordion__container {
  max-width: 450px;
  border-radius: 16px;
  box-shadow: var(--shadow);
}

.accordion__wrapper {
  padding: 0 32px 2px;
}

.accordion-item {
  position: relative;
  border-bottom: 1px solid #e6e7eb;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-item__title-container {
  display: flex;
  padding: 32px 0;
  justify-content: space-between;
}

.accordion-item__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.accordion-item__button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.4s;
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.accordion-item__button_type_save {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  display: block;
  border-radius: 16px;
  box-shadow: var(--shadow);
}

.accordion-item__button_disabled {
  background-color: goldenrod;
  cursor: default;
}

.accordion-item__button:hover {
  opacity: 0.6;
}

.menu-item {
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
  border: none;
  display: none;
  max-height: 200px;
  overflow: auto;
}

.menu-item_active {
  display: block;
}

.menu-item:last-child {
  margin-bottom: 16px;
}

.menu-item_position_absolute {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  position: absolute;
  bottom: -155px;
}

.checkBox + .checkBox {
  margin-top: 10px;
}

.home__sort-buttons {
  background-color: aliceblue;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.2s;
  border-radius: 10px;
  transition: 0.2s;
}

.home__sort-buttons:hover {
  opacity: 0.8;
}

.home__sort-buttons + .home__sort-buttons {
  margin-top: 10px;
}
